@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Playfair+Display:wght@400;500;700;900&display=swap');

:root {
    --blue1: #5BF7FF;
    --blue2: #00B5CE;
    --gray1: #E5E5E5;
    --gray2: #BCBCBC;
    --main-font: "Fira Sans";
    --display-font: "Playfair Display"
}

$border: 3px solid var(--blue1);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    text-decoration: none;
}

@mixin section-config {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    header {
        @include header-config;

        .section-title {
            color: var(--gray1);
            font-family: var(--display-font);
            font-weight: bold;
            font-size: 95px;

            .decorator {
                color: var(--blue1);
            }
        }

        .section-description {
            color: var(--gray2);
            font-size: 24px;
            margin: 160px 2rem 3rem 0;
            text-indent: 4ch;
            width: 40ch;

            a {
                font-weight: bold;
                color: var(--gray1);
            }
        }
    }
}

@mixin header-config {
    display: flex;
    justify-content: space-around;
    width: min(100%, 1440px);
    margin-top: 120px;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0F0F0F;

    #home {
        @include section-config;
        background-image: url(./assets/home_decorator.png);

        header {
            @include header-config;
            margin: 120px 0;

            .title-container {
                h1 {
                    width: 5ch;
                    font-family: var(--display-font);
                    font-size: 96px;
                    font-weight: 500;
                    line-height: 96px;
                    color: var(--blue1);

                    span {
                        font-size: 128px;
                        font-weight: 900;
                        font-family: var(--display-font);
                    }
                }

                h2 {
                    width: 10ch;
                    font-size: 40px;
                    font-weight: 400;
                    line-height: 40px;
                    color: #00B5CE;
                    margin-top: 40px;
                }
            }

            .image-container {
                position: relative;
                min-width: 400px;
                min-height: 400px;
                border: $border;
                transform: translateX(-40px) translateY(40px);
                background-image: url(./assets/profile_bg.png);
                background-size: cover;

                img {
                    position: absolute;
                    min-width: 400px;
                    min-height: 400px;
                    border: $border;
                    transform: translateX(37px) translateY(-43px);
                }
            }
        }

        .sticky {
            position: fixed;
            top: 40px;
            right: 0;
        }

        nav {
            margin: auto 0 15vh auto;
            width: min(750px, 60%);
            border-bottom: 3px solid var(--blue1);
            z-index: 1;

            .nav-list {
                display: flex;
                justify-content: space-around;
                font-size: 32px;
                list-style: none;
                width: min(560px, 80%);

                &-item {
                    width: 190px;
                    text-align: center;
                    padding-bottom: 3px;
                }

                &-link {
                    display: block;
                    color: var(--gray2);

                    &:hover {
                        color: white;
                    }
                }

                #active {
                    padding-bottom: 0;
                    border-bottom: 3px solid var(--blue1);
                    font-weight: bold;

                    a {
                        color: var(--gray1);
                    }
                }
            }
        }
    }

    #projetos {
        @include section-config;
        background-image: url(./assets/projeto_decorator.png);



        .card-container {
            position: relative;
            transform: translateX(-10px) translateY(10px);
            background-image: url(./assets/projeto_bg.png);
            background-size: cover;
            border: 3px solid var(--blue1);
            width: min(90%, 950px);
            margin-bottom: 4rem;

            .card {
                position: relative;
                transform: translateX(13px) translateY(-13px);
                background-color: #0F0F0F;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                border: 3px solid var(--blue1);
                padding: 1rem 2rem;
                width: 100%;

                &-header {
                    margin-right: 1rem;

                    &-title {
                        color: var(--gray1);
                        font-weight: bold;
                        font-size: 32px;
                    }

                    &-description {
                        color: var(--gray2);
                        margin-top: 20px;
                        text-indent: 4ch;
                        font-size: 20px;
                        max-width: 56ch;
                    }
                }

                &-tech-list {
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    width: 25ch;
                    height: min-content;

                    &-item {
                        border: 2px solid var(--blue1);
                        border-radius: 10px;
                        color: white;
                        font-size: 20px;
                        padding: 5px;
                        margin: 0 10px 10px 0;
                        height: fit-content;
                    }
                }
            }
        }
    }

    #cursos {
        @include section-config;
        background-image: url(./assets/cursos_decorator.png);

        .courses-list {
            list-style: none;

            &-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 85ch;
                margin: 1rem 0 1rem 0;

                .course-year {
                    font-size: 24px;
                    font-weight: bold;
                    color: var(--blue1);
                }

                .course-info {
                    .course-title {
                        font-size: 24px;
                        font-weight: bold;
                        color: var(--gray1)
                    }

                    .course-institution {
                        font-size: 20px;
                        color: var(--gray2);
                        font-weight: 500;
                        text-align: end;
                        
                        &::before {
                            content: "- "
                        }
                    }
                }
            }
        }
    }

    #contato {
        @include section-config;
        background-image: url(./assets/contato_decorator.png);
        align-items: flex-end;

        header {
            margin-bottom: 2rem;
        }

        .contato-email, .contato-tel {
            color: var(--gray1);
            font-size: 36px;
            font-weight: bold;
            margin: 1rem 2rem 0 2rem;
        }
    }
}